body {
    font-size: 16px;
    color: #000000;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}
.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}
.row {
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
}
.btn {
    border: 2px solid #ff2d2d;
    text-transform: capitalize;
    font-weight: 700;
    font-size: 18px;
    padding: 13px 53px;
    border-radius: 5px;
}
h2 {
    font-weight: 700;
    color: #585858;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 42px;
    letter-spacing: 5px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: #000000;
    display: inline-block;
}

.header {
    padding-top: 30px;
    width: 100%;
    position: fixed;
    z-index: 5;
}
.header__burger{
    display: none;
}
.header__body{

}
.header__navbar {
    background: linear-gradient(90deg,
    rgba(270, 270, 270, 0) 0%,
    rgba(200, 00, 00, 0.2) 25%,
    rgba(270, 270, 270, 0.2) 75%,
    rgba(2, 2, 2, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
    inset 0 0 1px rgba(255, 255, 255, 0.6);
}
.header__navbar:hover {
    background-color: #313030;
    border-radius: 7px;
    transition: .7s;
}
.header__menu{
    gap: 1px;
    justify-content: center;
}
.header__link{
    text-decoration: none;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    padding: 36px 24px 35px;
}
.header .active-nav {
    background-color: #ff3f40;
}
.header__link:active {
    box-shadow: 5px 5px 10px rgba(200, 22, 22, 0.9);
}
.header__link:hover {
    transition: .5s;
    background-color: #ff3f40;
}
@media (max-width: 1280px){
    .container{
        max-width: 1200px;
        }
    }
@media (max-width: 1199px) {
    .container{
        max-width: 992px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 768px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 576px;
    }
    .header{
        padding-top: 10px;
    }
    .header__menu{
        background-color: #313030;
    }
    .header__link{
        padding: 13px 25px 13px;
    }

}
@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }
    .header__menu{
        background-color: #313030;
        height: 37px;
    }
    .header__link{
        padding: 13px;
    }
    .header__link{
        text-decoration: none;
        color: white;
        font-weight: normal;
        text-transform: none;
        font-size: 11px;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}

.component{
    padding: 180px 0 105px;
    background-color: #f6f2f2;
}
.component__body{
    gap: 110px;
    align-items: center;
}
iframe{
    display: block;
    box-shadow: 0 0 65px -20px black;
    border-radius: 3px;
    width: 100%;
}
.component__info,
.component__video{
  width: 50%;
}
.component__title {
    font-weight: 800;
    font-size: 60px;
    text-transform: uppercase;
    line-height: 65px;
    letter-spacing: 5px;
    padding-bottom: 10px;
}
.component__description {
    max-width: 515px;
    padding-bottom: 60px;
    line-height: 20px;
    color: #a0a0a0;
}
.component__contact {
    background-color: #ff2d2d;
    color: white;
}
.component__contact:active {
    background-color: transparent;
    color: #ff3f40;
    transition: .3s;
    box-shadow: 10px 10px 10px #ff3f40;
}
.component__contact:hover {
    background-color: transparent;
    color: #ff3f40;
    transition: .3s;
}

@media (max-width: 1280px){
    .container{
        max-width: 1200px;
    }
}
@media (max-width: 1199px){
    .container{
        max-width: 992px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 768px;
    }
    .component__body{
        gap: 40px;
    }
    .component__title{
        font-weight: 700;
        font-size: 35px;
        line-height: 35px;
        letter-spacing: 6px;
        padding-bottom: 10px;
    }
    .component__description{
        padding-top: 10px;
        font-size: 15px;

    }
}
@media (max-width: 767px) {
    .container {
        max-width: 576px;
    }
    .component__body{
        display: flex;
        flex-direction: column;
    }
    .component__description{
        padding-bottom: 30px;
    }

    .component__info, .component__video {
        width: 65%;
    }
    .component{
        padding: 110px 0 55px;
    }
    .component__video{
        width: 100%;
    }
}
@media (max-width: 576px) {
    .container {
        max-width: 320px;
    }
    .component__title{
        font-weight: 700;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 6px;
        padding-bottom: 10px;
    }
    .component__info{
        width: 100%;
    }
    .component__description{
        padding-bottom: 30px;
        line-height: 16px;
    }
    .component__contact{
        padding: 13px 53px;
        font-weight: 500;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}
